USE [BD_COI01]
GO
/****** Object:  Table [dbo].[I_DIFERIDO]    Script Date: 29/05/2017 21:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[I_DIFERIDO](
	[FE_AÑO] [char](4) NOT NULL,
	[FE_MES] [char](2) NOT NULL,
	[COD_DOC] [char](2) NOT NULL,
	[NRO_DOC] [varchar](20) NOT NULL,
	[COD_PER] [char](5) NOT NULL,
	[FECHA_DOC] [datetime] NULL,
	[COD_CUENTA] [varchar](8) NULL,
	[GLOSA] [varchar](60) NULL,
	[FECHA_VIG_DEL] [datetime] NULL,
	[FECHA_VIG_AL] [datetime] NULL,
	[FECHA_INI_OPE] [datetime] NULL,
	[IMPORTE] [decimal](13, 2) NULL,
	[NRO_CUOTAS] [int] NULL,
	[NRO_CUOTAS_TRAN] [int] NULL,
	[COD_AUX] [char](2) NULL,
	[COD_COMP] [char](3) NULL,
	[NRO_COMP] [varchar](4) NULL,
	[IMP_ACUMULADO] [decimal](13, 2) NULL,
	[IMP_INICIAL_AÑO] [decimal](13, 2) NULL,
 CONSTRAINT [PK_I_DIFERIDO] PRIMARY KEY CLUSTERED 
(
	[FE_AÑO] ASC,
	[FE_MES] ASC,
	[COD_DOC] ASC,
	[NRO_DOC] ASC,
	[COD_PER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[I_DIFERIDO_SECUENCIA]    Script Date: 29/05/2017 21:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[I_DIFERIDO_SECUENCIA](
	[FE_AÑO] [char](4) NOT NULL,
	[FE_MES] [char](2) NOT NULL,
	[COD_DOC] [char](2) NOT NULL,
	[NRO_DOC] [varchar](20) NOT NULL,
	[COD_PER] [char](5) NOT NULL,
	[AÑO_DIF] [char](4) NOT NULL,
	[MES_DIF] [char](2) NOT NULL,
 CONSTRAINT [PK_I_DIFERIDO_SECUENCIA] PRIMARY KEY CLUSTERED 
(
	[FE_AÑO] ASC,
	[FE_MES] ASC,
	[COD_DOC] ASC,
	[NRO_DOC] ASC,
	[COD_PER] ASC,
	[AÑO_DIF] ASC,
	[MES_DIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_DIFERIDO]    Script Date: 29/05/2017 21:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_DIFERIDO](
	[FE_AÑO] [char](4) NOT NULL,
	[FE_MES] [char](2) NOT NULL,
	[COD_DOC] [char](2) NOT NULL,
	[NRO_DOC] [varchar](20) NOT NULL,
	[COD_PER] [char](5) NOT NULL,
	[COD_CC] [varchar](5) NOT NULL,
	[COD_CUENTA] [varchar](8) NULL,
	[GLOSA] [varchar](60) NULL,
	[FECHA_DOC] [date] NULL,
	[IMP] [decimal](13, 2) NULL,
	[COD_D_H] [char](1) NULL,
	[COD_MONEDA] [char](1) NULL,
	[TIPO_CAMBIO] [decimal](7, 4) NULL,
	[NRO_CUOTA] [char](2) NULL,
	[ST_TRANS] [char](1) NULL,
 CONSTRAINT [PK_T_DIFERIDO] PRIMARY KEY CLUSTERED 
(
	[FE_AÑO] ASC,
	[FE_MES] ASC,
	[COD_DOC] ASC,
	[NRO_DOC] ASC,
	[COD_PER] ASC,
	[COD_CC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_DIFERIDO_CC]    Script Date: 29/05/2017 21:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_DIFERIDO_CC](
	[FE_AÑO] [char](4) NOT NULL,
	[FE_MES] [char](2) NOT NULL,
	[COD_DOC] [char](2) NOT NULL,
	[NRO_DOC] [varchar](20) NOT NULL,
	[COD_PER] [char](5) NOT NULL,
	[COD_CC] [varchar](5) NOT NULL,
	[COD_CUENTA] [varchar](8) NULL,
	[POR_DIF] [decimal](5, 2) NULL,
 CONSTRAINT [PK_T_DIFERIDO_CC] PRIMARY KEY CLUSTERED 
(
	[FE_AÑO] ASC,
	[FE_MES] ASC,
	[COD_DOC] ASC,
	[NRO_DOC] ASC,
	[COD_PER] ASC,
	[COD_CC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[I_DIFERIDO_SECUENCIA] ([FE_AÑO], [FE_MES], [COD_DOC], [NRO_DOC], [COD_PER], [AÑO_DIF], [MES_DIF]) VALUES (N'2017', N'01', N'01', N'F502-00111545', N'01119', N'2017', N'01')
GO
INSERT [dbo].[I_DIFERIDO_SECUENCIA] ([FE_AÑO], [FE_MES], [COD_DOC], [NRO_DOC], [COD_PER], [AÑO_DIF], [MES_DIF]) VALUES (N'2017', N'01', N'01', N'F502-00111545', N'01119', N'2017', N'02')
GO
INSERT [dbo].[I_DIFERIDO_SECUENCIA] ([FE_AÑO], [FE_MES], [COD_DOC], [NRO_DOC], [COD_PER], [AÑO_DIF], [MES_DIF]) VALUES (N'2017', N'01', N'01', N'F502-00111545', N'01119', N'2017', N'03')
GO
INSERT [dbo].[T_DIFERIDO_CC] ([FE_AÑO], [FE_MES], [COD_DOC], [NRO_DOC], [COD_PER], [COD_CC], [COD_CUENTA], [POR_DIF]) VALUES (N'2017', N'01', N'01', N'F502-00111545', N'01119', N'10101', N'40189020', CAST(10.00 AS Decimal(5, 2)))
GO
INSERT [dbo].[T_DIFERIDO_CC] ([FE_AÑO], [FE_MES], [COD_DOC], [NRO_DOC], [COD_PER], [COD_CC], [COD_CUENTA], [POR_DIF]) VALUES (N'2017', N'01', N'01', N'F502-00111545', N'01119', N'10102', N'40111010', CAST(90.00 AS Decimal(5, 2)))
GO
INSERT [dbo].[T_DIFERIDO_CC] ([FE_AÑO], [FE_MES], [COD_DOC], [NRO_DOC], [COD_PER], [COD_CC], [COD_CUENTA], [POR_DIF]) VALUES (N'2017', N'04', N'01', N'0001-007032', N'16849', N'10101', N'91110100', CAST(50.00 AS Decimal(5, 2)))
GO
