USE [BD_COI01]
GO
ALTER PROCEDURE [dbo].[MOSTRAR_T_CON_CXP_CANCELACION]
(@COD_AUX CHAR(2),
@COD_COMP CHAR(3),
@NRO_COMP VARCHAR(4),
@FE_AÑO CHAR(4),
@FE_MES CHAR(2)
)
AS
SELECT
ISNULL(A.COD_MP,' '),
A.COD_DOC,
A.NRO_DOC,
A.FECHA_DOC,
ISNULL(A.COD_PER,' '),
NOMBRE=CASE A.COD_PER WHEN '00000' THEN A.GLOSA ELSE  (SELECT ISNULL(DESC_PER,' ') FROM MAESTRO_PERSONAS WHERE COD_PER=A.COD_PER) END,
ISNULL(A.NRO_DOC_PER,' '),
ISNULL(A.COD_D_H,' '),
IMPORTE = CASE A.COD_MONEDA WHEN 'D' THEN A.IMP_D ELSE A.IMP_S END,
A.COD_MONEDA,
A.TIPO_CAMBIO,
A.GLOSA,
A.COD_CUENTA,
ISNULL(A.COD_CC,' '),
ISNULL(A.COD_CONTROL,' '),
ISNULL(A.COD_PROYECTO,' '),
'0' AS STATUS_CTE,
A.FECHA_VEN,
B.STATUS_CC,
'1',
B.STATUS_P,
A.TIPO_TRANS,
A.COD_REF,
A.NRO_REF,
A.FECHA_REF,
A.ITEM_PAGO,
A.STATUS_PAGO,
B.DESC_CUENTA,
ISNULL(C.DESC_MP,' '),
A.COD_REF,
A.NRO_REF,
a.imp_s,
A.IMP_D
FROM T_CON A
LEFT JOIN
MAESTRO_CUENTAS B
ON A.COD_CUENTA=B.COD_CUENTA
AND A.FE_AÑO=B.AÑO
LEFT JOIN BD_GENERAL_COI.DBO.MEDIOS_PAGO AS C
ON A.COD_MP=C.COD_MP
WHERE
A.FE_AÑO=@FE_AÑO AND
A.FE_MES=@FE_MES AND
A.COD_AUX=@COD_AUX AND 
A.COD_COMP=@COD_COMP AND
A.NRO_COMP=@NRO_COMP AND
ISNULL(A.STATUS_AUTO,'0')=0